{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <link rel="canonical" href="http://www.example.com" />
      <script src="https://apis.google.com/js/platform.js" async defer>
      </script>
      <div class="post-meta">
        <time datetime="{{date format="DD MMM YYYY"}}" class="post-meta__date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-meta__tags tags">{{tags prefix="on "}}</span>
        <span class="post-meta__author author"><img src="{{author.image}}" alt="profile image for {{author.name}}" class="avatar post-meta__avatar" /> by {{author.name}}</span>
      </div>
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>
  Share this post &nbsp;
    <!-- Twitter -->
    <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" 
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <i class='icon icon-social-twitter'></i>
      <span class="hidden">Twitter</span>  
    </a>
    &nbsp;
    <!-- Google Plus -->
    <a href="https://plus.google.com/share?url={{url absolute="true"}}"
      onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
      <i class='icon icon-social-google-plus'></i>
      <span class="hidden">Google+</span>  
    </a>

  {{> comments}}

{{/post}}
